body {
    font-size: 16px;
    text-indent: 1.50rem;
    line-height: 2.25rem;
}

.yellow :hover {
    color: rgb(255, 252, 82);
}

.red :hover {
    color: rgb(252, 0, 0);
}

.brown :hover {
    color: rgb(117, 77, 7);
}

.orange :hover {
    color: rgb(255, 162, 0);
}

.heading {
    font-size: 3rem;
    text-indent: 0rem;
}

.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.reservoir {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.reservoir {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.pulp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.jackie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bill {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.deathproof {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.basterds {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.django {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.hateful {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.once{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.book {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.texts {
    font-size: 1.25rem;
}

.text {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}